{% extends 'base.html' %}
{% block title %}
  Vaccine Map
{% endblock%}
{% block content %}
<section class="about">
<!-- Title -->
    <div class="section-title">
        <h2>
            Allocation data table
        </h2>
        <p>Type state of interest in the box to search for data</p>
    </div>
<!-- End title -->
<nav class="nav-menu d-none d-lg-block">
  <ul>
    <li class="drop-down"><a href="">Vaccine brand</a>
      <ul>
        <li><a href="#">Pfizer</a></li>
        <li><a href="#">Moderna</a></li>
      </ul>
    </li>
  </ul>
</nav>
<table
  id="table"
  data-toggle="table"
  data-search="true"
  data-url="static/tablejson/moderna.json">
  <thead>
    <tr>
      <th data-field="jurisdiction">Jurisdiction</th>
      <th data-field="week_of_allocations">Week of allocation</th>
      <th data-field="_1st_dose_allocations">First dose allocation</th>
      <th data-field="_2nd_dose_allocations">Second dose allocation</th>
    </tr>
  </thead>
</table>
</section>
{% endblock%}
